// src/styles/_balance.scss
@import 'variables';
@import 'mixins';

.balance-container {
  @include card;
  margin-bottom: $spacing-large;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;

  @include mobile {
    padding: $spacing-medium;
  }

  h2 {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-medium;
    color: $primary-color;
  }

  .balance-amount {
    font-size: 30px;
    font-weight: $font-weight-bold;
    color: $text-color;
  }

  .balance-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: $spacing-large;

    @include mobile {
      flex-direction: column;
      gap: $spacing-medium;
    }

    .btn {
      @include mobile {
        width: 100%;
      }

      &-reports {
        background-color: transparent;
        color: #52555f;
        border: none;
        font-weight: normal;
        display: flex;
        align-items: center;
        gap: $spacing-small;
        cursor: pointer;
        transition: color $transition-speed;

        &:hover,
        &:focus {
          color: $primary-color;
        }

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

.balance-form {
  margin-top: $spacing-large;

  .form-group {
    margin-bottom: $spacing-medium;

    label {
      display: block;
      margin-bottom: $spacing-small;
      font-weight: $font-weight-bold;
    }

    input {
      @include input-style;
    }
  }

  .btn-group {
    display: flex;
    justify-content: flex-end;
    gap: $spacing-medium;

    @include mobile {
      flex-direction: column;
    }

    .btn {
      @include mobile {
        width: 100%;
      }
    }
  }
}
