// /src/styles._modal.scss

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
}

.modal-content {
  padding: 10px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button#modal-confirm-btn {
  background-color: #ff751d;
  color: #fff;
}

button#modal-cancel-btn {
  background-color: #dcdcdc;
  color: #333;
}

button#modal-ok-btn {
  background-color: #ff751d;
  color: #fff;
  width: 100%;
}
