// src/styles/_transaction.scss
@import 'variables';
@import 'mixins';

.transaction-container {
  @include card;
  margin-bottom: $spacing-large;
}

.transaction-form {
  margin-bottom: $spacing-large;
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  h3 {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-medium;
  }

  form {
    display: grid;
    gap: $spacing-medium;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .form-group {
    label {
      display: block;
      margin-bottom: $spacing-small;
      font-weight: $font-weight-bold;
    }

    input,
    select {
      @include input-style;
    }
  }

  .btn-group {
    display: flex;
    gap: $spacing-medium;
    grid-column: 1 / -1;

    @include mobile {
      flex-direction: column;
    }

    .btn {
      @include mobile {
        width: 100%;
      }
    }
  }
}

.transaction-list {
  h3 {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-medium;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    @include flex-between;
    padding: $spacing-medium;
    border-bottom: 1px solid $light-gray;

    &:last-child {
      border-bottom: none;
    }
  }

  .transaction-info {
    display: flex;
    align-items: center;
    gap: $spacing-medium;
  }

  .transaction-icon {
    font-size: 24px;
  }

  .transaction-details {
    .category {
      font-weight: $font-weight-bold;
    }

    .description {
      font-size: $font-size-small;
      color: $dark-gray;
    }
  }

  .transaction-amount {
    font-weight: $font-weight-bold;

    &.income {
      color: green;
    }

    &.expense {
      color: $error-color;
    }
  }

  .delete-transaction {
    @include button-reset;
    color: $dark-gray;
    font-size: 18px;

    &:hover {
      color: $error-color;
    }
  }
}

.transaction-summary {
  margin-top: $spacing-large;
  text-align: right;

  .total {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
  }
}
.transaction-view {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

#transaction-list-container {
  width: 75%;
}

#summary-list-container {
  width: 25%;
}
